.about-us {
  box-sizing: border-box;
  // max-width: $desktop-width-max + 50px;
  max-width: 1170px + 50px;
  margin-right: auto;
  margin-left: auto;
  padding: 105px 20px 110px 205px;
  // padding-top: 105px;
  // padding-right: 25px;
  // padding-bottom: 110px;
  // padding-left: 25px + 300px;

  color: $grey-three;

  background-image: url("../img/2005.png");
  background-repeat: no-repeat;
  background-position: -5px 110px;
  background-size: 220px 317px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/2005@2x.png");
  }

  @media (max-width: $tablet-width-max) {
    padding-top: 55px;
    padding-bottom: 83px;
    padding-left: 25px + 185px;

    background-position: -8px 53px;
    background-size: 251px 362px;
  }

  @media (max-width: $mobile-width-max) {
    padding: 57px 14px 65px;

    background-image: none;
  }
}

.about-us h2 {
  margin-top: 0;
  margin-bottom: 22px;

  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  font-family: "Roboto Condensed", "Arial", sans-serif;

  @media (max-width: $tablet-width-max) {
    margin-bottom: 26px;

    font-size: 32px;
    line-height: 45px;
  }

  @media (max-width: $mobile-width-max) {
    margin-bottom: 21px;

    font-size: 28px;
    line-height: 39px;
  }
}

.about-us p {
  max-width: 984px;
  margin: 0 0 21px;

  font-size: 16px;
  line-height: 22px;
  font-family: "PT Mono", "Courier", monospace;

  @media (max-width: $tablet-width-max) {
    display: block;
    max-width: 100%;
    margin-left: 3px;
  }

  @media (max-width: $mobile-width-max) {
    margin-bottom: 42px;

    // по идее можно было бы использовать тег p + p
    // но в таком случае не прохожу критерии по селекторам (не более 2х)?
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.about-us a {
  display: inline-flex;
  box-sizing: border-box;
  margin-top: 19px;
  padding: 14px 49px 13px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  text-align: center;
  color: $cyan;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.05em;

  border: 1px solid $cyan;
  border-radius: 5px;

  &:hover,
  &:focus {
    background-color: $cyan;
    color: $white;
    transition: 0.2s;
  }

  @media (max-width: $tablet-width-max) {
    margin-top: 22px;
    margin-left: 3px;
    padding-left: 50px;
  }

  @media (max-width: $mobile-width-max) {
    margin-top: 32px;
  }
}
