.body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;

  color: $black;
  background-color: $white;
  font-family: "Roboto", "Arial", sans-serif;
}

.body__main {
  flex-grow: 1;
}
