.catalog {
  padding-top: 89px;
  padding-bottom: 127px;

  color: $white;
  background-color: $blue;

  @media (max-width: $tablet-width-max) {
    padding-top: 50px;
    padding-bottom: 80px;
  }

  @media (max-width: $mobile-width-max) {
    padding-bottom: 64px;
  }
}

.catalog__list,
.catalog h2 {
  box-sizing: border-box;
  max-width: $desktop-width-max + 50px - 240px;
  margin: 0 auto;
}

.catalog h2 {
  margin-bottom: 52px;
  padding-right: 25px;
  padding-left: 25px;

  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  font-family: "Roboto Condensed", "Arial", sans-serif;

  @media (max-width: $tablet-width-max) {
    max-width: 660px;
    margin: 0 0 49px;

    font-size: 32px;
    line-height: 45px;
  }

  @media (max-width: $mobile-width-max) {
    max-width: 100%;
    margin-bottom: 42px;
    padding: 0 21px 0 25px;

    font-size: 28px;
    line-height: 39.38px; // во имя славной богини PP
  }
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 30px;
  box-sizing: border-box;
  width: 100%;
  max-width: 1170px + 40px;
  padding: 0 20px 0 20px;

  list-style: none;

  @media (max-width: $tablet-width-max) {
    padding: 0 25px 0 26px;
    gap: 45px;
  }

  @media (max-width: $mobile-width-max) {
    padding: 0 15px;
    gap: 31px;
  }
}

.catalog__list-item {
  position: relative;

  display: flex;
  box-sizing: border-box;
  width: calc(33% - (26px * 2 / 3));
  margin-right: auto;
  overflow: hidden;

  &:nth-child(3n) {
    margin-right: none;
  }

  img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;

    width: 100%;
    height: 100%;
    // background-blend-mode: overlay;

    opacity: 0.2;
    filter: saturate(0);

    object-fit: cover;
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;

    display: inline-flex;
    width: 63px;
    height: 63px;

    background-color: $cyan;
    background-image: url("../img/icon-arrow-right.svg");
    background-repeat: no-repeat;
    background-position: calc(50% + 4px) calc(50% + 0px);
    background-size: 6px 9px;
  }

  h3 {
    position: relative;
    z-index: 1;

    width: 45%;
    padding: 31px 44px 0;

    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    color: $white;
    text-decoration: none;
  }

  &:nth-child(3n - 2) {
    img {
      transform: scale(1.17) translate(-2px, -2px);
    }
  }

  &:nth-child(3n - 1) {
    img {
      transform: scale(1.09);
    }
  }

  @media (max-width: $tablet-width-max) {
    width: 100%;

    img {
      width: 100%;
      height: 100%;
    }

    h3 {
      max-width: 170px;
      padding-top: 20px;
    }

    &:nth-child(3n - 2) {
      img {
        transform: scale(1.14) translate(-4px, -1px);
      }
    }

    &:nth-child(3n - 1) {
      img {
        transform: scale(2.74); // не точное, но близкое совпадение
      }
    }
    // передаю привет богине Pixel Perfect
    &:nth-of-type(3n) {
      img {
        transform: scale(1.67);
      }

      h3 {
        margin-bottom: 7px;
        padding-top: 32px;
      }
    }
  }

  @media (max-width: $mobile-width-max) {
    h3 {
      box-sizing: border-box;
      width: 100%;
      max-width: 240px;
      padding: 0 35px 0;
    }

    &:nth-child(3n - 2) {
      img {
        transform: scale(1.18) translate(-1px, -1px);
      }
    }

    &:nth-child(3n - 1) {
      img {
        transform: scale(2.07);
      }
    }

    &:nth-of-type(3n) {
      h3 {
        margin-bottom: 12px;
        padding-top: 10px;
      }
    }

    &::after {
      background-position: center;
    }
  }
}

.catalog__link {
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 620px;
  padding-bottom: 132.7%;
  overflow: auto;

  text-decoration: none;

  &:hover,
  &:focus {
    ~ picture img,
    ~ img {
      opacity: 1;
      filter: saturate(50%);

      transition-duration: 0.2s;
    }

    h3 {
      text-shadow: 1px 1px 10px $black;
    }
  }

  @media (max-width: $tablet-width-max) {
    max-height: 303px;
    padding-bottom: 19.1%;
  }

  @media (max-width: $mobile-width-max) {
    max-height: none;
    // padding-bottom: 53.75%;
    padding-bottom: 0;
    height: 256px;
  }
}
