.feedback-form {
  padding-top: 91px;
  padding-bottom: 115px;
  background-color: $cyan;
  color: $white;

  background-image:
    url("../../img/paper-plane.png"),
    url("../../img/triangle-2.svg");
  background-size:
    511px 288px,
    670px 641px;
  background-repeat: no-repeat;
  background-position:
    calc(25% - 3px) 161px,
    175px -60px;

  @media (min-resolution: 2dppx) {
    background-image:
    url("../../img/paper-plane@2x.png"),
    url("../../img/triangle-2.svg");
  }

  @media (max-width: $tablet-width-max) {
    padding-top: 78.5px;
    padding-bottom: 104px;
    background-image: none;
  }

  @media (max-width: $mobile-width-max) {
    padding-top: 29px;
    padding-bottom: 42px;
  }
}

.feedback-form form {
  outline: 1px solid white;
  max-width: $desktop-width-max + 50px;
  padding-left: 25px;
  padding-right: 25px;
  margin: 0 auto;
  box-sizing: border-box;

  @media (max-width: $mobile-width-max) {
    padding: 0 15px;
  }
}

.feedback-form fieldset {
  max-width: 572px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-left: auto;
  margin-right: 121px;
  padding: 0 0 0 4px;
  border: none;
  box-sizing: border-box;

  @media (max-width: $tablet-width-max) {
    margin-right: auto;
    max-width: none;
    padding-left: 67px;
    padding-right: 63px;
  }

  @media (max-width: $mobile-width-max) {
    padding: 0;
  }
}

.feedback-form legend {
  margin-top: 0;
  margin-left: -4px;
  padding: 0;

  font-size: 36px;
  line-height: 52px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;

  @media (max-width: $tablet-width-max) {
    font-size: 32px;
    line-height: 45px;
  }

  @media (max-width: $mobile-width-max) {
    font-size: 28px;
    line-height: 39px;
    margin-left: 0;
  }
}

.feedback-form p {
  margin-top: 10px;
  margin-bottom: 50px;

  font-size: 16px;
  line-height: 22px;
  font-family: "PT Mono", "Courier", monospace;
  font-weight: 400;

  @media (max-width: $tablet-width-max) {
    width: 100%;
    margin-top: 17px;
    margin-left: 1px;
    margin-bottom: 54px;
  }

  @media (max-width: $mobile-width-max) {
    margin-top: 13px;
    margin-left: 0;
    margin-bottom: 27px;
  }
}

.feedback-form input[type="text"],
.feedback-form input[type="tel"] {
  width: calc(50% - (30px / 2));
  margin-bottom: 40px;

  @media (max-width: $tablet-width-max) {
    margin-bottom: 42px;
  }

  @media (max-width: $mobile-width-max) {
    width: 100%;
    margin-bottom: 30.5px;
  }
}


.feedback-form input[type="text"],
.feedback-form input[type="tel"],
.feedback-form textarea {
  padding: 14px 16px 16px;
  background-color: rgba($white, 0.1);
  box-sizing: border-box;
  border: none;
  color: $white;
  font-size: 16px;
  line-height: 22px;
  font-family: "PT Mono", "Courier", monospace;

  &::placeholder {
    color: $white;
  }

  &:hover,
  &:focus {
    background-color: rgba($white, 0.8);
    color: $blue;

    &::placeholder {
      color: $blue;
    }
  }

  @media (max-width: $tablet-width-max) {
    padding: 12px 18px 18px;
  }
}

.feedback-form textarea {
  width: 100%;
  min-height: 154px;
  padding-top: 10px;
  resize: none;

  @media (max-width: $tablet-width-max) {
    padding-top: 11px;
    min-height: 159px;
  }

  @media (max-width: $mobile-width-max) {
    min-height: 104px;
  }
}

.feedback-form__button-submit {
  margin-top: 42px;
  width: calc(50% - (30px / 2));
  padding: 13px 18px 13px;

  border: 1px solid $white;
  background-color: $cyan;
  color: $white;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $white;
    color: $cyan;
  }

  &:active {
    opacity: 0.5;
  }

  @media (max-width: $tablet-width-max) {
    margin-top: 45.5px;
    padding-bottom: 15px;
  }

  @media (max-width: $mobile-width-max) {
    width: 100%;
    margin-top: 30px;
  }
}

.feedback-form label {
  position: relative;

  display: inline-flex;
  align-self: center;
  max-width: 262px;
  margin-top: 45px;
  // padding-left: 31px;
  box-sizing: border-box;

  font-size: 14px;
  line-height: 16px;
  font-family: "PT Mono", "Arial", sans-serif;

  span {
    padding-left: 2px;
    color: rgba($white, 0.8);
  }

  &:hover {
    span {
      color: $white;
    }
  }

  &:active {
    opacity: 0.5;
  }

  @media (max-width: $tablet-width-max) {
    margin-top: 48px;
    margin-right: 9px;
  }

  @media (max-width: $mobile-width-max) {
    margin-top: 31px;
  }
}

.feedback-form span:first-of-type {
  margin-right: 32px;
  margin-top: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border: 1px solid $white;
  box-sizing: border-box;

  use {
    display: none;
  }
}

.feedback-form__input-check:focus ~ span {
  color: $white;
}

.feedback-form__input-check:active ~ span {
  opacity: 0.5;
}

.feedback-form__input-check:checked ~ span {
  use {
    display: flex;
  }
}
