.feedback-form {
  position: relative;
  padding-top: 91px;
  padding-bottom: 115px;

  color: $white;

  background-color: $cyan;
  background-image:
    url("../img/triangle-2.svg"),
    url("../img/triangles-ninja.svg");
  background-repeat: no-repeat;
  background-position:
    175px -60px,
    calc(100% + 147px) 36px;
  background-size:
    670px 641px,
    510px 670px;

  @media (min-resolution: 2dppx) {
    background-image:
      url("../img/triangle-2.svg"),
      url("../img/triangles-ninja.svg");
  }

  @media (max-width: $tablet-width-max) {
    padding-top: 78.5px;
    padding-bottom: 104px;

    background-image: none;
  }

  @media (max-width: $mobile-width-max) {
    padding-top: 29px;
    padding-bottom: 42px;
  }
}

.feedback-form form {
  box-sizing: border-box;
  max-width: $desktop-width-max + 50px;
  margin: 0 auto;
  padding-right: 25px;
  padding-left: 25px;

  @media (max-width: $mobile-width-max) {
    padding: 0 15px;
  }
}

.feedback-form fieldset {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  max-width: 572px;
  margin: 0;
  margin-right: 121px;
  margin-left: auto;
  padding: 0 0 0 4px;

  border: none;

  @media (max-width: $tablet-width-max) {
    max-width: none;
    margin-right: auto;
    padding-right: 63px;
    padding-left: 67px;
  }

  @media (max-width: $mobile-width-max) {
    padding: 0;
  }
}

.feedback-form legend {
  margin-top: 0;
  margin-left: -4px;
  padding: 0;

  font-weight: 400;
  font-size: 36px;
  line-height: 52px;
  font-family: "Roboto Condensed", "Arial", sans-serif;

  // Сначала задавал филдсету, но при изменении ширины страница крашилась фатально
  &::before {
    position: absolute;
    top: 70px;
    left: -622px;
    content: "";
    width: 511px;
    height: 288px;
    background-image: url("../img/paper-plane.png");
    background-size: 511px 288px;
    background-repeat: no-repeat;
    background-position: left center;
  }

  @media (max-width: $tablet-width-max) {
    font-size: 32px;
    line-height: 45px;

    &::before {
      display: none;
    }
  }

  @media (max-width: $mobile-width-max) {
    margin-left: 0;

    font-size: 28px;
    line-height: 39px;
  }
}

.feedback-form p {
  margin-top: 10px;
  margin-bottom: 50px;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  font-family: "PT Mono", "Courier", monospace;

  @media (max-width: $tablet-width-max) {
    width: 100%;
    margin-top: 17px;
    margin-bottom: 54px;
    margin-left: 1px;
  }

  @media (max-width: $mobile-width-max) {
    margin-top: 13px;
    margin-bottom: 27px;
    margin-left: 0;
  }
}

.feedback-form input[type="text"],
.feedback-form input[type="tel"] {
  width: calc(50% - (30px / 2));
  margin-bottom: 40px;

  @media (max-width: $tablet-width-max) {
    margin-bottom: 42px;
  }

  @media (max-width: $mobile-width-max) {
    width: 100%;
    margin-bottom: 30.5px;
  }
}


.feedback-form input[type="text"],
.feedback-form input[type="tel"],
.feedback-form textarea {
  box-sizing: border-box;
  padding: 14px 16px 16px;

  font-size: 16px;
  line-height: 22px;
  font-family: "PT Mono", "Courier", monospace;
  color: $white;

  background-color: rgba($white, 0.1);
  border: none;

  &::placeholder {
    color: $white;
  }

  &:hover,
  &:focus {
    color: $blue;

    background-color: rgba($white, 0.8);

    &::placeholder {
      color: $blue;
    }
  }

  @media (max-width: $tablet-width-max) {
    padding: 12px 18px 18px;
  }
}

.feedback-form textarea {
  width: 100%;
  min-height: 154px;
  padding-top: 10px;

  resize: none;

  @media (max-width: $tablet-width-max) {
    min-height: 159px;
    padding-top: 11px;
  }

  @media (max-width: $mobile-width-max) {
    min-height: 104px;
  }
}

.feedback-form__button-submit {
  box-sizing: border-box;
  width: calc(50% - (30px / 2));
  margin-top: 42px;
  padding: 13px 18px 13px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  text-align: center;
  color: $white;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  background-color: $cyan;
  border: 1px solid $white;
  border-radius: 5px;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $cyan;

    background-color: $white;
  }

  &:active {
    opacity: 0.5;
  }

  @media (max-width: $tablet-width-max) {
    margin-top: 45.5px;
    padding-bottom: 15px;
  }

  @media (max-width: $mobile-width-max) {
    width: 100%;
    margin-top: 30px;
  }
}

.feedback-form label {
  position: relative;

  display: inline-flex;
  align-self: center;
  box-sizing: border-box;
  max-width: 262px;
  margin-top: 45px;

  font-size: 14px;
  line-height: 16px;
  font-family: "PT Mono", "Arial", sans-serif;

  span {
    padding-left: 2px;
    color: rgba($white, 0.8);
  }

  &:hover {
    span {
      color: $white;
    }
  }

  &:active {
    opacity: 0.5;
  }

  @media (max-width: $tablet-width-max) {
    margin-top: 48px;
    margin-right: 9px;
  }

  @media (max-width: $mobile-width-max) {
    margin-top: 31px;
  }
}

.feedback-form span:first-of-type {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  margin-top: 1px;
  margin-right: 15px;
  border: 1px solid $white;

  use {
    display: none;
  }
}

.feedback-form__input-check:focus ~ span {
  color: $white;
}

.feedback-form__input-check:active ~ span {
  opacity: 0.5;
}

.feedback-form__input-check:checked ~ span {
  use {
    display: flex;
  }
}
