.footer {
  font-family: "PT Mono", "Courier", monospace;
  color: $blue;

  background-color: $back-footer;
}

.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  max-width: $desktop-width-max;
  margin: 0 auto;
  box-sizing: border-box;
}

.footer__logo-link {
  order: 1;

  outline: 1px solid red;
  display: flex;
  justify-content: space-between;
  width: 216px;
  height: 52px;

  img:last-child {
    margin-top: 6px;
  }
}

.footer__social {
  order: 4;
  width: 216px;
  outline: 1px solid red;
}

.footer__nav {
  order: 2;
  flex-grow: 1;
  outline: 1px solid red;
  max-width: 36%;
}

.footer__contacts {
  order: 3;
  outline: 1px solid red;
  max-width: 33%;
}

.footer__copyright {
  order: 5;
  outline: 1px solid red;
}

.footer__years {
  order: 6;
  outline: 1px solid red;
}

.footer__confidence {
  order: 7;
  outline: 1px solid red;
}

.footer__author {
  order: 8;
  outline: 1px solid red;
}
