// Дорогой читатель кода, прости меня заранее за футер,
// это конечно полная жесть с сеткой, она была проще, пока я не заметил
// 1 пиксельные полоски-разделители блоков, которые все усложнили
.footer {
  position: relative;
  // overflow: hidden;
  font-family: "PT Mono", "Courier", monospace;
  background-color: $back-footer;
  color: $blue;
}

.footer__wrapper {
  max-width: $desktop-width-max + 50px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 62px 25px 14px;
  display: grid;
  grid-template-columns: 30% 45% 25%;
  align-items: flex-start;
  grid-template-rows: repeat(3, min-content);

  // Это какое-то безумие, не знаю что я здесь творю
  // но других способов размести эту тонкую полоску не нашел
  &::before {
    position: relative;
    top: -15px;
    right: calc((100vw - 100%) / 2);
    order: 1;
    display: flex;
    grid-column: 1 / 4;
    content: "";
    height: 1px;
    margin-bottom: -1px;
    width: 100vw;
    box-sizing: border-box;
    background-color: rgba($grey, 0.2);
  }

  @media (max-width: $tablet-width-max) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 16px 27px 24px;
    max-width: 100vw;

    &::before {
      order: 7;
      top: 0;
      right: 0;
      grid-column: 1 / 5;
      margin-top: 35px;
      margin-bottom: 22px;
      max-width: 100vw;
      width: calc(100% + 54px);
      margin-left: -27px;
    }

    &::after {
      order: 4;
      position: relative;
      top: 0;
      display: flex;
      grid-column: 1 / 5;
      content: "";
      height: 1px;
      margin-top: 26px;
      margin-bottom: 36px;
      margin-left: -27px;
      width: calc(100% + 54px);
      box-sizing: border-box;
      background-color: rgba($grey, 0.2);
      max-width: 100vw;
    }
  }

  @media (max-width: $mobile-width-max) {
    grid-template-columns: 1fr;
    justify-items: center;
    padding-top: 43px;
    padding-left: 16px;
    padding-right: 16px;

    &::before,
    &::after {
      display: none;
    }
  }
}

.footer h2 {
  margin: 2px 0 24px;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  font-weight: 400;
  text-transform: uppercase;

  .footer__button-collapse {
    display: none;
  }

  @media (max-width: $mobile-width-max) {
    order: -1;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 27px 15px 23px;
    padding: 30px 15px 28px;
    margin: -27px 0 -23px -15px;
    margin: -30px 0 -28px -15px;
    width: calc(100% - 50px);
    flex-grow: 1;
    cursor: pointer;

    &:hover {
      color: $cyan;
    }

    &:active {
      opacity: 0.5;
    }
  }
}

.footer__button-collapse {
  display: none;

  @media (max-width: $mobile-width-max) {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 66px;
    padding: 27px 15px 23px;
    margin: -27px -15px -23px 0;
    border: none;
    box-sizing: border-box;
    background-color: transparent;
    cursor: pointer;

    &::before {
      display: flex;
      content: "";
      width: 16px;
      height: 1.5px;
      background-color: $grey-two;
    }

    &::after {
      position: absolute;
      display: flex;
      content: "";
      width: 16px;
      height: 1.5px;
      background-color: $grey-two;
      transform: rotate(0);
      transition: 0.2s;
    }

    &:hover,
    &:focus {
      &::before,
      &::after {
        background-color: $black;
      }
    }
  }
}

.footer__logo-link {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-top: 2px;
  margin-left: -2px;
  width: 216px;
  height: 52px;

  img:last-child {
    margin-top: 6px;
  }

  @media (max-width: $tablet-width-max) {
    order: 1;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}

.footer__social {
  margin-top: 44px;
  margin-bottom: 0;
  grid-column: 1 / 2;

  @media (max-width: $tablet-width-max) {
    order: 3;
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    align-self: center;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
  }

  @media (max-width: $mobile-width-max) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    margin-right: auto;
    margin-top: 30px;
  }
}

.footer__nav {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  width: 100%;
  margin-left: -2px;
  padding-right: 30px;
  box-sizing: border-box;

  @media (max-width: $tablet-width-max) {
    order: 5;
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    width: calc(100% - 10px);
    width: 100%;
    padding-left: 2px;
    padding-right: 5px;
  }

  @media (max-width: $mobile-width-max) {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    width: calc(100% + 30px);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 54px;
    margin-left: -15px;
    margin-right: -15px;
    padding: 30px 15px 25px;
    box-sizing: border-box;
    border-top: 1px solid rgba($grey, 0.2);
    border-bottom: 1px solid rgba($grey, 0.2);
  }
}

.footer__nav-list {
  column-count: 2;
  column-gap: 12px;
  max-width: 100%;
  margin: 0 0 0 -2px;
  padding: 0;
  list-style: none;

  li {
    max-width: 100%;
    width: max-content;
  }

  a {
    color: rgba($blue, 0.5);
    text-decoration: none;
    font-size: 15px;
    line-height: 26px;
    font-weight: 400;

    &:hover,
    &:focus {
      color: $blue;
    }

    &:active {
      color: rgba($blue, 0.3);
    }
  }

  @media (max-width: $tablet-width-max) {
    column-count: 1;

    li + li {
      margin-top: -0.5px; // pixel-perfect
    }
  }

  @media (max-width: $mobile-width-max) {
    width: 100%;
    margin: 35px 0 0;
  }
}

.footer__contacts {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
  margin-left: auto;

  li {
    width: max-content;
    max-width: 100%;
  }

  a,
  address {
    color: rgba($blue, 0.5);
    text-decoration: none;
    font-size: 15px;
    line-height: 26px;
    font-weight: 400;

    &:hover,
    &:focus {
      color: $blue;
    }

    &:active {
      color: rgba($blue, 0.3);
    }
  }

  address {
    font-style: normal;
  }

  @media (max-width: $tablet-width-max) {
    order: 6;
    grid-column: 3 / 5;
    grid-row: 3 / 4;
    width: calc(100%);
    margin-left: -8px;
  }

  @media (max-width: $mobile-width-max) {
    grid-row: 5 / 6;
    grid-column: 1 / 2;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: calc(100% + 32px);
    max-width: 100vw;
    margin-left: -16px;
    margin-right: -16px;
    padding: 30px 15px;
    padding: 30px 15px 25px;
    border-bottom: 1px solid rgba($grey, 0.2);
    box-sizing: border-box;

    address {
      margin-top: 30px;
      padding-right: 3px;
      width: 100%;
    }

    a {
      width: 100%;
    }
  }
}

.footer__nav,
.footer__contacts,
.footer__social {
  margin-bottom: 72px;

  @media (max-width: $tablet-width-max) {
    margin-bottom: 0;
  }
}

.footer__copyright,
.footer__years,
.footer__confidence,
.footer__author {
  order: 3;
  margin-top: 0;
  margin-bottom: 0;
  width: auto;

  font-size: 14px; // не знаю как работает фигма, но если оставить 13px то не совпадает макет по ПП
  line-height: 24px;
  color: rgba($blue, 0.5);
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
}

.footer__years {
  margin-left: -4px; // pixel-perfect
  padding-right: 20px;
  width: calc(100% + 35px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;

  @media (max-width: $tablet-width-max) {
    order: 2;
    grid-template-columns: 2 / 4;
    grid-row: 1 / 2;
    width: 200%;
    margin-top: 9px;
    margin-left: 2px;
    padding-right: 10px;
    align-self: center;
    justify-content: flex-end;

    span:first-child {
      display: none;
    }

    span:last-child {
      margin-right: 17px;
    }
  }

  @media (max-width: $mobile-width-max) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    width: 100%;
    margin-top: 27px;
    margin-left: 0;
    margin-right: 0;
    justify-content: center;
    padding-right: 0;

    span:last-child {
      margin-right: 0;
    }
  }
}

.footer__confidence {
  width: calc(100% - 45px);
  padding-left: 45px;
  margin-left: 45px;
  padding-right: 160px;
  text-align: center;
  box-sizing: border-box;

  &:hover,
  &:focus {
    color: $blue;
  }

  &:active {
    color: rgba($blue, 0.3);
  }

  @media (max-width: $tablet-width-max) {
    order: 8;
    grid-column: 1 / 3;
    grid-row: 5 / 6;
    padding: 0;
    text-align: left;
    margin-left: 0;
  }

  @media (max-width: $mobile-width-max) {
    grid-row: 6 / 7;
    grid-column: 1 / 2;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
  }
}

.footer__author {
  margin-left: auto;
  text-align: right;

  &:hover,
  &:focus {
    color: $blue;
  }

  @media (max-width: $tablet-width-max) {
    order: 9;
    grid-column: 3 / 5;
    grid-row: 5 / 6;
  }

  @media (max-width: $mobile-width-max) {
    grid-row: 7 / 8;
    grid-column: 1 / 2;
    text-align: center;
    margin-right: auto;
  }
}

.footer__button-collapse--closed {
  @media (max-width: $mobile-width-max) {
    &::after {
      transform: rotate(270deg);
      transition: 0.4s;
    }

    & ~ ul,
    & ~ address,
    & ~ a {
      display: none;
    }
  }
}

.footer__button-collapse--no-js {
  display: none;
}
