.header {
  overflow: hidden;
  color: $white;
  background-color: $blue;
  background-image:
    // url("../img/circuit-boards.png"),
    url("../img/triangle.svg"),
    url("../img/back-header-tablet.png");
  background-size:
    // 705px 515px,
    671px 641px,
    cover;
  background-position:
    // calc(50% + 430px) 258px,
    calc(50% + 405px) 118px,
    center;
  background-repeat: no-repeat;

  // проклятый LightHouse, заставляет идти на такие извращения в 3 часа ночи
  @supports (
    background-image:
      // url("../img/circuit-boards.webp"),
      url("../img/triangle.svg"),
      url("../img/back-header-tablet.webp")
  ) {
    background-image:
      // url("../img/circuit-boards.webp"),
      url("../img/triangle.svg"),
      url("../img/back-header-tablet.webp");
  }

  @media (min-resolution: 2dppx) {
    background-image:
      // url("../img/circuit-boards@2x.png"),
      url("../img/triangle.svg"),
      url("../img/back-header-tablet@2x.png");

    @supports (
      background-image:
        // url("../img/circuit-boards@2x.webp"),
        url("../img/triangle.svg"),
        url("../img/back-header-tablet@2x.webp")
    ) {
      background-image:
        // url("../img/circuit-boards@2x.webp"),
        url("../img/triangle.svg"),
        url("../img/back-header-tablet@2x.webp");
    }
  }

  @media (max-width: $tablet-width-max) {
    background-position:
      // calc(50% + 358px) 113px,
      calc(50% + 320px) -39px,
      calc(50% + 130px) calc(50% - 62px); // pixel-perfect который занял 45 минут О_о
    background-size:
      // 465px 340px,
      534px 505px,
      auto 145%; // я думал это займет минут 10 а не час
  }

  @media (max-width: $mobile-width-max) {
    background-size:
      // 301px 220px,
      507px 483px,
      auto 145%;
    background-position:
      // calc(50% + 16px) 92px,
      calc(50% + 245px) -46px,
      calc(50% + 130px) calc(50% - 62px);
  }
}

.header__wrapper {
  max-width: $desktop-width-max + 50px;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin: 33px auto;

  @media (max-width: $tablet-width-max) {
    max-width: none;
    margin: 20px 25px;
    padding: 0;
  }

  @media (max-width: $mobile-width-max) {
    margin: 17px 16px;
  }
}

.header__logo {
  margin-right: auto;
  margin-left: -2px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 16px;
  width: 202px;
  height: 52px;

  img:last-child {
    margin-top: 5px;
  }

  @media (max-width: $tablet-width-max) {
    margin-left: 0;
  }

  @media (max-width: $mobile-width-max) {
    width: 38px;
    height: 38px;

    img:first-child {
      width: 38px;
      height: 38px;
    }

    img:last-child {
      display: none;
    }
  }
}

.header__site-list {
  margin: 0;
}

.header__button-feedback {
  background-color: transparent;
  border: 1px solid $white;
  padding: 12px 27px 15px;
  margin-left: 50px;
  box-sizing: border-box;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: $white;
  border-radius: 5px;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $cyan;
    transition: 0.2s;
  }

  @media (max-width: $tablet-width-max) {
    display: none;
  }
}
