.promo {
  outline: 1px solid yellow;
}

.promo__wrapper {
  max-width: $desktop-width-max + 50px;
  padding-top: 197px;
  padding-left: 19px;
  padding-right: 19px;
  padding-bottom: 90px;
  margin: 0 auto;
  outline: 1px solid red;
  box-sizing: border-box;

  @media (max-width: $tablet-width-max) {
    padding-top: 98px;
    padding-left: 88px;
    padding-right: 88px;
    padding-bottom: 165px;
  }

  @media (max-width: $mobile-width-max) {
    padding-top: 214px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 70px;
  }
}

.promo h1 {
  margin-top: 0;
  margin-bottom: 28px;

  font-size: 80px;
  line-height: 94px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  letter-spacing: 0.07em;

  @media (max-width: $tablet-width-max) {
    max-width: 470px;
    margin-bottom: 29px;

    font-size: 60px;
    line-height: 70px;
  }

  @media (max-width: $mobile-width-max) {
    max-width: 100%;
    margin-bottom: 27.5px;
    font-size: 40px;
    line-height: 47px;
  }
}

.promo p {
  position: relative;
  margin-top: 0;
  margin-bottom: 45px;
  padding-left: 97px;
  max-width: 683px;
  font-size: 22px;
  line-height: 34px;
  font-family: "PT Mono", "Courier", monospace;
  text-transform: lowercase;

  &::before {
    position: absolute;
    top: 16px;
    left: 4px;
    background-color: $white;
    width: 66px;
    height: 2px;
    display: inline-block;
    content: "";
  }

  @media (max-width: $tablet-width-max) {
    max-width: 356px;
    padding-left: 51px;
    margin-bottom: 55px;

    font-size: 18px;
    line-height: 28px;

    &::before {
      left: 3px;
      width: 33px;
    }
  }

  @media (max-width: $mobile-width-max) {
    margin-bottom: 42px;
    font-size: 16px;
    line-height: 25px;

    &::before {
      top: 15px;
    }
  }
}

.promo__anchor-link {
  display: inline-flex;
  padding: 17px 45px 17px;
  margin-left: 98px;

  color: $white;
  font-size: 16px;
  line-height: 19px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  background-color: $cyan;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-align: center;

  border-radius: 5px;

  @media (max-width: $tablet-width-max) {
    margin-left: 50px;
    padding: 17px 32px 19px;
  }

  @media (max-width: $mobile-width-max) {
    display: flex;
    justify-content: center;
    margin-left: 3px; // сомнительно
    padding: 17px 11px 19.5px;
    font-size: 0;
    text-align: center;

    &::after {
      font-size: 16px;
      letter-spacing: 0.05em;
      // Да даже этот трюк не так трудозатратен по времени как подбор ПП фону шапки
      content: attr(data-text);
    }
  }
}

.promo__scroll-down {
  display: flex;
  margin-top: 96px;
  margin-left: 4px;

  color: rgba($white, 0.5);
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  font-size: 14px;
  line-height: 16px;
  font-family: "PT Mono", "Courier", monospace;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $white;
  }

  &:active {
    color: rgba($white, 0.3);
  }

  @media (max-width: $tablet-width-max) {
    display: none;
  }
}
