.site-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  row-gap: 10px;

  list-style: none;
  column-gap: 86px;

  @media (max-width: $tablet-width-max) {
    align-items: center;
    margin-top: -3px; // pixel perfect
    column-gap: 34px;
  }

  @media (max-width: $mobile-width-max) {
    column-gap: 23px;
  }
}

.site-list__link {
  display: flex;

  font-size: 16px;
  line-height: 18px;
  font-family: "PT Mono", "Courier", monospace;
  color: $white;
  text-decoration: none;

  &--mail {
    &::before {
      content: "";

      display: inline-flex;
      width: 19px;
      height: 14px;
      margin-right: 20px;

      background-image: url("../img/icon-mail.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }

  &--phone {
    &::before {
      content: "";

      display: inline-flex;
      width: 18px;
      height: 18px;
      margin-right: 16px;

      background-image: url("../img/icon-phone.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }

  &:hover,
  &:focus {
    color: $cyan;
    transition: 0.2s;
  }

  @media (max-width: $tablet-width-max) {
    font-size: 0;

    &--phone::before {
      width: 24px;
      height: 24px;
      margin-right: 0;
    }

    &--mail::before {
      width: 25px;
      height: 18px;
      margin-right: 0;
    }
  }
}
