.social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  // width: max-content;
  // max-width: 100%;
  padding: 0;
  gap: 14px;

  list-style: none;

  li {
    display: inline-flex;
  }
}

.social__link {
  display: inline-flex;
  width: 27px;
  height: 27px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 27px;
  border-radius: 50%;

  svg {
    fill: $grey-five;
  }

  &:hover,
  &:focus {
    svg {
      fill: $cyan;
    }
  }

  &:active {
    opacity: 0.5;
  }
}
