// Widths
$mobile-width: 320px;
$mobile-width-max: 767px;
$tablet-width: 768px;
$tablet-width-max: 1023px;
$desktop-width: 1024px;
$desktop-width-max: 1410px;
// Colors
$black: #000000;
$white: #ffffff;
$cyan: #00b2ff;
// Back colors
$back-header: #1b2d37;
