// Widths
$mobile-width: 320px;
$mobile-width-max: 767px;
$tablet-width: 768px;
$tablet-width-max: 1023px;
$desktop-width: 1024px;
$desktop-width-max: 1410px;
// Colors
$black: #000000;
$white: #ffffff;
$cyan: #00b2ff;
$blue: #1b2d37;
$grey: #626962;
$grey-two: #c4c4c4;
$grey-three: #666666;
$grey-four: #ebebeb;
// Back colors
$back-header: #1b2d37;
$back-footer: #fafafa;
